# Copy this file to .env and fill in your actual credentials
#test credentials for e2e tests
TEST_USER_PREFIX="some_prefix_to_mek_username_unique"
MY_PIZZA_PASSWORD="your_password_here"
MY_CSRF_TOKEN="your_token_here"

# REST Test credentials
REST_USER_NAME="rest_test_user"
REST_PASS_WORD="rest_test_password"

# Browser Test credentials
BROWSER_USER="browser_user"
BROWSER_PASSWORD="browser_password"

K6_WEB_DASHBOARD=true
K6_WEB_DASHBOARD_EXPORT=test-report.html