# Copy this file to .env and fill in your actual credentials
TEST_USER_PREFIX="some_prefix_to_mek_username_unique"
MY_PIZZA_PASSWORD="your_password_here"
MY_CSRF_TOKEN="your_token_here"
REST_USER_NAME="rest_test_user"
REST_PASS_WORD="rest_test_password"

